body {
    font-family: "Poppins", sans-serif;
    background-color: #3991f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #010849;
}

.form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#book-title,
#book-author {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #010849;
}

#add-book {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #3991f5;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

#add-book:hover {
    background-color: #063e83;
}

#book-list {
    list-style: none;
    padding: 0;
}

#book-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#book-list li .details {
    flex: 1;
}

#book-list li button {
    padding: 5px 10px;
    font-size: 0.9rem;
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#book-list li button:hover {
    background-color: #c82333;
}
